<mat-toolbar color="primary">Title</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <!-- <mat-drawer #leftDrawer class="mat-elevation-z5" position="start" mode="side" opened="true">
    <button mat-raised-button color="primary">LEFT</button>
  </mat-drawer> -->
  
  <router-outlet></router-outlet>

  <!-- <mat-drawer #rightDrawer class="mat-elevation-z5" position="end" mode="side" opened="true">
    <button mat-raised-button color="primary">RIGHT</button>
  </mat-drawer> -->
</mat-drawer-container>